:root {
  --pri-color: #d6282d;
}

.testi-content p {
  font-family: "Montserrat", sans-serif !important;
}

#logo .standard-logo {
  height: 5vw !important;
  padding: 1vw !important;
}

.about-us-section {
  background: #fff;
}

.about-us-section img {
  width: 100%;
}

.about-us-2-container {
  margin-bottom: 50px;
}

.owl-carousel .owl-dots .owl-dot,
.owl-carousel .owl-nav [class*="owl-"]:hover,
.top-cart-number::before {
  background-color: var(--pri-color) !important;
}

.menu-item:hover > .menu-link,
.sub-menu-container .menu-item:hover > .menu-link,
.entry-title h3 a:hover,
.product-title h3 a:hover,
.single-product .product-title h2 a:hover,
.product-price ins,
.header-extras li .he-text span {
  color: var(--pri-color);
}

a:hover {
  color: var(--pri-color);
}
